### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [223]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_pure = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [224]:
#find total number of players
purchase_data.head()
count = purchase_data['SN'].value_counts()
total_count = len(count)
total_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [225]:
#unique items
unique_item = purchase_data['Item ID'].unique()
len(unique_item)

179

In [226]:
#average price
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [227]:
#total purchases
total_purchases = purchase_data['Purchase ID'].value_counts()
len(total_purchases)

780

In [228]:
#total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [229]:
#create df
summary_data = pd.DataFrame({"Number of Uniqe Items": [179],
                            "Average Price": ["$3.05"],
                            "Number of Purchases": [780],
                            "Total Revenue": ["$2379.77"]})
summary_data

   Number of Uniqe Items Average Price  Number of Purchases Total Revenue
0                    179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [230]:
# dropping ALL duplicte values 
purchase_data_drop = purchase_data.drop_duplicates(subset ="SN", keep = 'first', inplace = True )
#purchase_data
count = purchase_data["Gender"].value_counts()
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [231]:
#females
only_females = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_count = len(only_females)
female_count
female_percent = ((female_count/total_count)* 100)
female_percent = str(round(female_percent, 2)) + str("%")
female_percent

'14.06%'

In [232]:
#males
only_males = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_count = len(only_males)
male_percent = ((male_count/total_count)* 100)
male_percent = str(round(male_percent, 2)) + str("%")
male_percent

'84.03%'

In [233]:
#Other / Non-Disclosed
only_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_count = len(only_other)
other_percent = ((other_count/total_count)* 100)
other_percent = str(round(other_percent, 2)) + str("%")
other_percent

'1.91%'

In [234]:
#create df
gender_demo = pd.DataFrame({
    " ":["Male", "Female", "Other/Non-Disclosed"],
    "Total Count":[male_count,female_count,other_count],
    "Percentage of Players":[male_percent, female_percent, other_percent]})
gender_demo.set_index(" ")

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [235]:
#total female purchases
female_purchase_count = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Female", "Purchase ID"]
female_purchase_count = len(female_purchase_count) 
female_purchase_count

#Average Female purchase price
female_purchases = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Female", "Price"].mean()
#female_purchases = str('$') + str(round(female_purchases, 2))
female_purchases = "$%.2f" % round(female_purchases, 2)
female_purchases

#total purchase value
female_sum = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Female", "Price"].sum()
female_sums = str('$') + str(round(female_sum, 2))

#Average purchase per female
average_female = round((female_sum/female_count), 2)
average_females = str('$') + str(average_female)

In [236]:
#number of male purchases
male_purchase_count = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Male", "Purchase ID"]
male_purchase_count = len(male_purchase_count) 
male_purchase_count

#Average male purchase price
male_purchases = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Male", "Price"].mean()
male_purchases = str('$') + str(round(male_purchases, 2))
male_purchases

#total purchase value
male_sum = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Male", "Price"].sum()
male_sums = str('$') + str(round(male_sum, 2))

#Average purchase per female
average_male = round((male_sum/male_count), 2)
average_males = str('$') + str(average_male)

In [237]:
#number of other purchases
other_purchase_count = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Other / Non-Disclosed", "Purchase ID"]
other_purchase_count = len(other_purchase_count) 
other_purchase_count

#Average other purchase price
other_purchases = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Other / Non-Disclosed", "Price"].mean()
other_purchases = str('$') + str(round(other_purchases, 2))

#total purchase value
other_sum = purchase_data_pure.loc[purchase_data_pure["Gender"] == "Other / Non-Disclosed", "Price"].sum()
other_sums = str('$') + str(round(other_sum, 2))

#Average purchase per female
average_other = round((other_sum/other_count), 2)
average_others = str('$') + str(average_other)

In [238]:
#create df
gender_demo = pd.DataFrame({
    "Gender":["Male", "Female", "Other/Non-Disclosed"],
    "Purchase Count":[male_purchase_count, female_purchase_count,other_purchase_count],
    "Average Purchase Price":[male_purchases, female_purchases, other_purchases],
    "Total Purchase Value":[male_sums, female_sums, other_sums],
    "Avg Total Purchase per Person":[average_males, average_females, average_others]})
gender_demo.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [239]:
#find total count
total_age_count = purchase_data['Age'].count()
total_age_count

576

In [240]:
#create bings
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

group_age = purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

In [241]:
#add Age Range to df
purchase_data["Age_Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count,Age_Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24
...,...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,<10

## Purchasing Analysis (Age)

In [242]:
#group by Age Range
age_group = purchase_data.groupby("Age_Range")

# Find how many rows fall into each bin
age_group = age_group["Age_Range"].count()
age_group

Age_Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age_Range, dtype: int64

In [243]:
#find percentage and format
pct = (age_group/total_count) *100
pct = pct.map("{:.2f}%".format)
pct

Age_Range
<10       2.95%
10-14     3.82%
15-19    18.58%
20-24    44.79%
25-29    13.37%
30-34     9.03%
35-39     5.38%
40+       2.08%
Name: Age_Range, dtype: object

In [244]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age_Count"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count,Age_Range,Age_Count
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24,20-24

In [245]:
#create df
age_demo = pd.DataFrame({
    " ":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count":[age_group[0], age_group[1], age_group[2], age_group[3], age_group[4], age_group[5], 
                   age_group[6], age_group[7]],
    "Percentage of Players": [pct[0], pct[1], pct[2], pct[3], pct[4], pct[5], pct[6], pct[7]],})
age_demo.set_index(" ")

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [246]:
#group by Age Count
young_age = purchase_data.groupby("Age_Count")


# Purchase Count
purchase_count = young_age["Purchase ID"].count()

#Average Purchase Price
purchase_mean = young_age["Price"].mean()
purchase_mean = round(purchase_mean, 2)
#add dollar sign
purchase_mean = purchase_mean.map("${:.2f}".format)

# Total Purchase Value
t_p_v = young_age["Price"].sum()
#add dollar sign
t_p_v_d = t_p_v.map("${:.2f}".format)


#Avg Total Purchase per Person
t_p_p_p = (t_p_v/age_group)
#add dollar sign
t_p_p_p = t_p_p_p.map("${:.2f}".format)

In [43]:
#create df
age_purchase = pd.DataFrame({
    "Age Ranges":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Purchase Count":[purchase_count[0], purchase_count[1], purchase_count[2], purchase_count[3], 
                      purchase_count[4], purchase_count[5], purchase_count[6], purchase_count[7]],
    "Average Purchase Price":[purchase_mean[0], purchase_mean[1], purchase_mean[2], purchase_mean[3],
                              purchase_mean[4], purchase_mean[5], purchase_mean[6], purchase_mean[7]],
    "Total Purchase Value": [t_p_v_d[0], t_p_v_d[1], t_p_v_d[2], t_p_v_d[3], t_p_v_d[4], t_p_v_d[5], 
                             t_p_v_d[6], t_p_v_d[7]],
    "Avg Total Purchase per Person": [t_p_p_p[0], t_p_p_p[1], t_p_p_p[2], t_p_p_p[3], t_p_p_p[4], t_p_p_p[5],
                                      t_p_p_p[6], t_p_p_p[7]]})
age_purchase.set_index("Age Ranges")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [247]:
#group by SN
user_name = purchase_data_pure.groupby("SN")


#Total Purchase Price
user_tpv = user_name["Price"].sum().sort_values(ascending=False)
#add dollar
user_tpv_d = user_tpv.map("${:.2f}".format)

#Purchase Count
top_spenders = user_name["Price"].sum().sort_values(ascending=False)
top = user_name["Item ID"].count().sort_values(ascending=False)
#Merge Count to obtain Purchase Count from Top Spenders by Money Spent
merge_spender = pd.merge(top_spenders, top, on="SN")

#Average Purchase Value
avg_pur_pr = (user_tpv/merge_spender["Item ID"])
avg_pur_d = avg_pur_pr.map("${:.2f}".format)

In [248]:
#create df
top_spender_demo = pd.DataFrame({
    "SN":["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95",],
    "Purchase Count":[merge_spender["Item ID"][0], merge_spender["Item ID"][1], merge_spender["Item ID"][2], 
                      merge_spender["Item ID"][3], merge_spender["Item ID"][4],],
    "Average Purchase Price":[avg_pur_d[0], avg_pur_d[1], avg_pur_d[2], avg_pur_d[3],
                              avg_pur_d[4],],
    "Avg Total Purchase per Person": [user_tpv_d[0], user_tpv_d[1], user_tpv_d[2], user_tpv_d[3],
                              user_tpv_d[4],]})
top_spender_demo.set_index("SN")

,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
SN,,,
Lisosia93,5,$3.79,$18.96
Idastidru52,4,$3.86,$15.45
Chamjask73,3,$4.61,$13.83
Iral74,4,$3.40,$13.62
Iskadarya95,3,$4.37,$13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [249]:
#creat new data frame
items = purchase_data_pure[["Item ID", "Item Name", "Price"]]

#group data
popular_items = items.groupby(["Item ID", "Item Name"])

#purchase count
item_count = popular_items["Price"].count()
item_count

#total purchase value
item_tpv = popular_items["Price"].sum()
item_tpv_d = item_tpv.map("${:.2f}".format)

#item price
item_price = item_tpv/item_count
item_price = item_price.map("${:.2f}".format)

#create data frame with item values
popular_items_df = pd.DataFrame({"Purchase Count": item_count,
                                 "Item Price": item_price,
                                 "Total Purchase Value": item_tpv})

#order the df by purchase count column in descending order
popular_items_descending_pc = popular_items_df.sort_values(["Purchase Count"],ascending=False).head()

#place .head so you only get the top 5
popular_items_descending_pc.style.format({"Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [251]:
popular_items_descending_tpv = popular_items_df.sort_values(["Total Purchase Value"],ascending=False).head()


popular_items_descending_tpv.style.format({"Total Purchase Value": "${:,.2f}"})

Observations:
1.	Males represent 84% of the total player base of this game. They spend more than any other gender group. However, both Females and Others had a higher average purchase price and a higher average total purchase per person. 
2.	Considering age demographics, people in their 20s represented over 50% of the player base in this game. People in their early 20s represent the largest total purchase value, though they are the most populous age group. Yet, people from 35-39 spent more money per person than any of the other groups. 
3.	None of the top five spenders in this game spent more than $20 in this game. This seems quite low from my cursory knowledge of mobile games, and the idea that mobile games survive off of “whales”. I would also be interested in running some reports on the number of players that have never spent any money in this game, and what percentage of players that represents.